@page "/category"
@rendermode InteractiveServer
@using KayakCove.Application.DTOs
@using KayakCove.Application.Services
@using KayakCove.Domain.Entities
@using KayakCove.Web.ApiServices
@using KayakCove.Web.Components.Shared
@inject NavigationManager _navigation
@inject CategoryApiService _categoryApiService
@inject IJSRuntime _js

<ConfirmModal OnConfirmClicked="OnDeleteConfirmClicked"></ConfirmModal>

@if (IsLoading)
{
    <div class="position-absolute w-75 h-75 d-flex flex-column align-items-center bg-white justify-content-center">
        <img src="images/loading.gif" alt="Loading data" />
    </div>
}
else
{
    <div class="card shadow border-0 mt-4">
        <div class="card-header bg-black bg-gradient ml-0 py-3">
            <div class="row">
                <div class="col-12 text-center">
                    <h2 class="text-white py-2">Categories</h2>
                </div>
            </div>
        </div>
        <div class="card-body p-4">
            <div class="row pb-3">
                <div class="col-12 text-end">
                    <button class="btn btn-lg btn-success" @onclick="NavigateToCreateCategoryPage"><i class="bi bi-plus-square"></i> Add Category</button>
                </div>
            </div>
            @if (Categories.Any())
            {
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Name</th>
                            <th></th>
                        </tr>
                    </thead>

                    <tbody>
                        @foreach (var item in Categories)
                        {
                            <tr>
                                <td>@item.Id</td>
                                <td>@item.Name</td>
                                <td>
                                    <button class="btn btn-primary m-1 py-1 px-2" @onclick="() => NavigateToUpdateCategoryPage(item.Id)"><i class="bi bi-pencil"></i></button>
                                    <button class="btn btn-danger m-1 py-1 px-2" @onclick="() => OnDeleteClicked(item.Id)"><i class="bi bi-trash"></i></button>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
        </div>
    </div>
}

@code {
    private bool IsLoading { get; set; } = true;
    public IEnumerable<CategoryDto>? Categories { get; set; }
    private int DeleteCategoryId { get; set; } = 0;

    protected async override Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {

            Categories = await _categoryApiService.GetAllCategoriesAsync();
            IsLoading = false;
            StateHasChanged();
        }
    }

    private void NavigateToCreateCategoryPage()
    {
        _navigation.NavigateTo($"/category/create");
    }

    private void NavigateToUpdateCategoryPage(int id)
    {
        _navigation.NavigateTo($"/category/update/{id}");
    }

    private void OnDeleteClicked(int id)
    {
        DeleteCategoryId = id;
        _js.InvokeVoidAsync("showConfirmModal");
    }

    private async Task OnDeleteConfirmClicked(bool isConfirmed)
    {
        IsLoading = true;
        await _js.InvokeVoidAsync("hideConfirmModal");
        if (isConfirmed && DeleteCategoryId != 0)
        {
            var isDeleted = await _categoryApiService.DeleteCategoryAsync(DeleteCategoryId);
            if (isDeleted)
                _js.ToastrSuccess("Category deleted");
            else
                _js?.ToastrError("Something went wrong.");

            Categories = await _categoryApiService.GetAllCategoriesAsync();
        }
        DeleteCategoryId = 0;
        IsLoading = false;
    }
}