@page "/confirmation"
@rendermode InteractiveServer

<div class="container">
    <div class="card text-black text-center m-5 shadow">
        <div class="card-header text-dark bg-info p-3">
            <h1>Order placed!!</h1>
        </div>
        <div class="card-body p-5">
            <h5>Thank you for shopping at Kayak Cove. Now do us a favor and keep placing orders ;) <a href="..">Back to store.</a></h5>
        </div>
    </div>
</div>