@inherits LayoutComponentBase
@using KayakCove.Web.ApiServices
@inject LoginStateService _loginState

<div class="page">
    
    <NavMenu />

    <main>
        @if (_loginState.IsLoggedIn && !_loginState.IsAdminLoggedIn || !_loginState.IsLoggedIn)
        {
            <NavBar />
        }
        @Body
    </main>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>


@code {

    protected override void OnInitialized()
    {
        // if the OnChange event is raised, refresh this view
        _loginState.OnChange += () => StateHasChanged();

        base.OnInitialized();
    }
}
